@font-face {
  font-family: "Aleo";
  src: url("/fonts/Aleo-Font/lo/Aleo-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Aleo-LightItalic";
  src: url("/fonts/Aleo-Font/lo//Aleo-LightItalic.otf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

.header {
  position: relative;
  width: 100%;
  background-position: center;
  background-position-y: 0px;
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: #0462b0;
  background-image: url(img/header_bg.png);
  height: 820px;
}

.header__content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1120px;
  height: 820px;
}

.header__title {
  font-size: 48px;
  font-family: "Josefin Sans";
  color: white;
  text-transform: uppercase;
  line-height: 0.542;
  letter-spacing: 3.8px;
  text-align: center;
  position: absolute;
  left: 400px;
  top: 277px;
}

.header__subtitle {
  font-size: 22px;
  font-family: "Josefin Sans";
  font-weight: 300;
  color: white;
  line-height: 1.182;
  letter-spacing: 6px;
  text-align: center;
  position: absolute;
  left: 402px;
  top: 320px;
}

.header__input {
  font-size: 14px;
  font-family: "Josefin Sans";
  color: #999999;
  line-height: 1.857;
  padding-left: 125px;
  letter-spacing: 2px;
  background-color: white;
  position: relative;
  left: 235px;
  top: 390px;
  width: 650px;
  height: 60px;
}

.header__btn {
  font-family: "Aleo";
  text-align: center;
  border: none;
  background-color: #5474fd;
  position: absolute;
  left: 737px;
  top: 392px;
  width: 146px;
  height: 56px;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  line-height: 4;
  text-align: center;
}

.header__scroll {
  font-size: 14px;
  font-family: "Josefin Sans";
  font-weight: 300;
  letter-spacing: 2.4px;
  color: white;
  line-height: 1.857;
  text-align: center;
  position: absolute;
  left: 514px;
  top: 565px;
}

@media screen and (max-width: 1200px) {
  .header .header__scroll {
    left: 220px;
  }
  .header .header__title {
    left: 90px;
  }
  .header .header__subtitle {
    left: 90px;
  }
  .header .header__input {
    left: 0;
    width: 483px;
    height: 60px;
    padding-left: 60px;
  }
  .header .header__btn {
    left: 360px;
    width: 120px;
  }
}

.header__menu {
  position: absolute;
  padding-right: 330px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  bottom: 0;
  background-color: #5474fd;
  width: 1770px;
  height: 80px;
  left: -325px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__menu_logo {
  position: absolute;
  left: 330px;
  letter-spacing: 1px;
  top: 30px;
  font-size: 24px;
  font-family: "Josefin Sans";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.083;
}

.header__menu_item {
  margin-left: 43px;
  font-size: 14px;
  font-family: "Aleo";
  color: white;
  text-transform: uppercase;
  margin-top: 30px;
}

@media screen and (max-width: 1200px) {
  .header .header__menu_logo {
    display: none;
  }
  .header .header__menu_item {
    margin-left: 15px;
  }
  .header .header__menu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 330px;
  }
}

.header__search {
  line-height: 3;
  font-size: 20px;
  float: right;
  margin-right: 15px;
}

.header a {
  text-decoration: none;
  color: white;
}

.header a:hover {
  color: black;
  border-bottom: 2px solid black;
}

.choose {
  position: relative;
  width: 100%;
  background-position: center;
  background-position-y: 0px;
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: #433a37;
  background-image: url(img/choose_bg.png);
  min-height: 685px;
}

.choose__content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1120px;
  min-height: 685px;
}

.choose__left_content {
  width: 50%;
}

.choose__title {
  font-size: 36px;
  font-family: "Aleo";
  color: white;
  line-height: 0.722;
  text-align: left;
  position: absolute;
  top: 205px;
  left: 5px;
}

.choose__subtitle {
  font-size: 16px;
  font-family: "Josefin Sans";
  color: white;
  line-height: 1.625;
  text-align: left;
  position: absolute;
  letter-spacing: 0.6px;
  top: 295px;
  left: 5px;
}

.choose__button {
  background-color: #5474fd;
  width: 225px;
  height: 60px;
  font-size: 16px;
  font-family: "Aleo";
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.625;
  border: none;
  position: absolute;
  top: 493px;
  left: 5px;
}

.choose__right_content {
  padding-top: 120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
}

.choose__foto1 {
  width: 477px;
  height: 220px;
  float: left;
  margin-left: 80px;
}

.choose__foto2 {
  width: 477px;
  height: 220px;
  float: right;
  margin-right: -122px;
  margin-top: 5px;
}

@media screen and (max-width: 1200px) {
  .choose__subtitle {
    letter-spacing: -0.5px;
  }
  .choose__right_content {
    display: none;
  }
}

.block3 {
  position: relative;
  width: 100%;
  background-position: center;
  background-position-y: 0px;
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: #333333;
  background-image: url(img/block3_bg.png);
  min-height: 337px;
}

.block3__content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1120px;
  min-height: 337px;
}

.block3__line {
  position: relative;
  margin-top: 45px;
  margin-left: 175px;
}

.block3__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -50px;
}

.block3__items_text {
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.block3__items1 {
  width: 65px;
  height: 60px;
}

.block3__items1--center {
  width: 65px;
  height: 60px;
  margin-left: 314px;
  margin-right: 314px;
}

.block3__items_text1 {
  font-size: 36px;
  font-family: "Aleo";
  color: white;
  line-height: 0.722;
}

.block3__items_text1--center {
  margin-left: 200px;
  margin-right: 135px;
}

@media screen and (max-width: 1200px) {
  .block3__line {
    display: none;
  }
  .block3__items_text {
    display: none;
  }
  .block3__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 100px;
    margin-left: 200px;
    margin-bottom: 50px;
  }
  .block3__items1--center {
    margin-left: 0;
    margin-right: 0;
  }
}

.spain {
  position: relative;
  width: 100%;
  background-position: center;
  background-position-y: 0px;
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: #a5a0b4;
  background-image: url(img/spain1_bg.png);
  height: 700px;
}

.spain__content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1120px;
  height: 700px;
}

.spain__content_block {
  float: left;
  margin-top: 230px;
  margin-left: 5px;
  width: 540px;
  height: 370px;
  background-color: #292423;
  opacity: 0.9;
  color: white;
}

.spain__title {
  font-size: 20px;
  font-family: "Josefin Sans";
  color: white;
  line-height: 1.3;
  font-weight: 300;
  margin-left: 30px;
  margin-top: 46px;
}

.spain__subtitle {
  font-size: 20px;
  font-family: "Josefin Sans";
  color: white;
  text-transform: uppercase;
  line-height: 1.3;
  text-align: left;
  font-weight: 300;
  letter-spacing: -0.55px;
  margin-left: 30px;
  margin-top: 25px;
}

.spain__text {
  font-size: 16px;
  font-family: "Josefin Sans";
  color: white;
  line-height: 1.7;
  text-align: left;
  font-weight: 300;
  letter-spacing: -0.55px;
  margin-left: 30px;
  margin-top: 17px;
}

.spain__button {
  background-color: #5474fd;
  width: 225px;
  height: 60px;
  font-size: 16px;
  font-family: "Aleo";
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.625;
  border: none;
  margin-left: 30px;
  margin-top: 40px;
}

.spain__content_block--position {
  float: right;
  margin-right: 5px;
}

.spain--add_bg {
  background-color: #fc9479;
  background-image: url(img/spain2_bg.png);
}

@media screen and (max-width: 1200px) {
  .spain__content_block {
    width: 450px;
    float: left;
  }
}

.tourist {
  position: relative;
  width: 100%;
  background-position: center;
  background-position-y: 0px;
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: #292b2c;
  background-image: url(img/tourist_bg.png);
  height: 735px;
}

.tourist__content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1120px;
  height: 735px;
}

.tourist__title {
  position: absolute;
  font-size: 36px;
  font-family: "Aleo";
  color: white;
  line-height: 0.722;
  text-align: center;
  letter-spacing: 0.5px;
  left: 380px;
  top: 120px;
}

.tourist__main_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 285px;
  position: absolute;
  margin: auto;
  top: 44px;
  left: 5px;
  bottom: 0;
}

.tourist__subtitle {
  width: 100%;
  background-color: #333333;
}

.tourist__name {
  font-size: 20px;
  font-family: "Josefin Sans";
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.3;
  text-align: left;
  position: absolute;
  left: 502px;
  top: 48px;
}

.tourist__histori {
  font-size: 16px;
  font-family: "Josefin Sans";
  color: white;
  line-height: 1.7;
  text-align: left;
  font-weight: 300;
  letter-spacing: -0.55px;
  margin-left: 60px;
  margin-top: 111px;
  text-indent: 30px;
}

@media screen and (max-width: 1200px) {
  .tourist__title {
    left: 50px;
  }
  .tourist__subtitle {
    display: none;
  }
  .tourist__foto {
    margin-left: 15px;
  }
}

.footer {
  position: relative;
  width: 100%;
  background-position: center;
  background-position-y: 0px;
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: #232323;
  margin-top: -3px;
  height: 270px;
}

.footer__content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1120px;
  height: 270px;
}

.footer__title {
  font-size: 24px;
  font-family: "Josefin Sans";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.083;
  text-align: left;
  letter-spacing: 2.5px;
  font-weight: 600;
  position: absolute;
  top: 120px;
  left: 477px;
}

.footer__subtitle {
  font-size: 16px;
  font-family: "Josefin Sans";
  color: white;
  line-height: 1.625;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
  position: absolute;
  top: 150px;
  left: 477px;
}

.footer__social_networks {
  position: absolute;
  top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 455px;
}

.footer__items {
  color: white;
  margin-left: 20px;
}

.footer__items--color {
  color: #5474fd;
}

.footer .footer__items:hover {
  color: #5474fd;
}

.header__input:focus {
  border: blue;
}

@media screen and (max-width: 1200px) {
  .footer__title {
    left: 150px;
  }
  .footer__subtitle {
    left: 150px;
  }
  .footer__social_networks {
    left: 130px;
  }
}

button:active {
  background-color: cadetblue;
  border: black;
}
/*# sourceMappingURL=style.css.map */